
body{
    margin:0px;
}
/* body header */

#body-header{
    height: 65vh;
    background-image: url(imagee/grass.jpg);

    background-size: cover;
    background-position: center;
    opacity:0.8 ;
    background-attachment: fixed;
    padding-top: 1.2 rem;
}
/*horizonatal list home,work,etc */
.horizontal-list{
    list-style: none;
    padding-left:0px;
    text-align:center;
    margin: 0px;
    
}
.horizontal-list li{
    display: inline-block;
    margin:20px 8px 8px 0px;
}
.horizontal-list li a{
    font-size: 1.5rem;
    color:white;
    text-decoration:none;
   
}
.nav-menu li a {
     /*for color transition on home,about keys */
     transition: color 0.5s,border-bottom 1s;

}
/*for clicking color change */
.nav-menu li a:hover{
    color:lightgray;
    /* for home ,about,skills bottom line on cleacking */
    border-bottom: 2px solid white;
}
.text-center{
    text-align: center;
}
#name-social-container{
    margin-top: 20px;
}
#my-name{
    font-size: 5rem;
    letter-spacing: 0.1rem;
    color:white;
    font-weight:700;
    margin-bottom: 0.rem;
}
.social-icons li a i{
    padding: 20px;
    font-size: 40px;
    border-radius:50%;
    
    
}
.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px red;
}
section{
    width:100%;
    height:75vh;
    display:flex;
    flex-direction: column;
}
section:nth-child(2n){
    background-color:grey;
}
section:nth-child(2n+1){
    background-color:white;
}

/*manin section */
#about{
    height: auto;
    width: 100%;
    /*for image  uppper the the background image*/
    position:relative;
}
#my-image{
    /*image size*/
    height:12rem;
    width:12rem;
    /*for image take in teh center*/
    margin:auto;
    /*for image in the upper backgroune image*/
    margin-top: -17vh;
}
#my-image img{
    /*for image size*/
    height: 100%;
    width: 100%;
    /*for image border make circle*/
    border-radius:50%;
}